/* Spinner for loading bus times */
.button-spinner {
  animation:spin 1500ms linear infinite;
}

@-webkit-keyframes spin {
  from { -webkit-transform: rotate(0deg) }
  to { -webkit-transform: rotate(360deg) }
}
@keyframes spin
{
  from { transform:rotate(0deg); }
  to { transform:rotate(360deg); }
}
